.idCard {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 35% auto;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: #1d1d1d;
    color:white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: justify;
    cursor: pointer;
    margin: 30px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    width: 300px;
    height: 470px;
    padding: 20px;
    position: relative;
  }
 
.idCard .id-card-content {
  position: relative;
  height: 100%;
}

.idCard .idCard-image {
  position: absolute;
  top: 45px;
  right: 35px;
  height: 170px;
}

.idCard .idCard-content {
  position: absolute;
  left: 10px;
  top: 40%;
}

.idCard .idCard-name {
  font-size: 1.2em;
  font-weight: bold;
}

.idCard .idCard-description {
  font-size: 1em;
  margin-top: 20px;
}

.idCard .idCard-country {
  font-size: 1em;
  margin-top: 40px;
}

.idCard .idCard-dob {
  font-size: 1em;
  margin-top: 60px;
}

.idCard .idCard-eyeColor {
  font-size: 1em;
  margin-top: 80px;
}
.rgb::after {
  content:"";
  background: linear-gradient(45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px); /*or z-index */
  animation: rgb 6s linear infinite;
}

@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}