.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 80px;
  }
  
  
  .home-title {
    font-size: 45px;
  }
  .body, .home-container {
    position: relative;
  }
  
  