/* CreateNFT.css */

body {
    background-color: #2f1c2c;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
  
  .button, .file-input-button {
    background-color: #6a4c93;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover, .file-input-button:hover {
    background-color: #926dc6;
  }
  
  .file-input {
    display: none;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .webcam-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .webcam-controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -50px;
  }
  
  .create-nft-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .create-nft-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px; /* Adjust the max width as needed */
    width: 100%;
    margin-top: 20px;
  }
  
  .create-nft-form input,
  .create-nft-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .create-nft-form button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .image-container img {
    width: 100px;
    height: 100px;
  }

  