.settings-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    border-top: 1px solid rgb(200, 200, 200);
}

.settings-sidebar {
    width: 20%;
    background-color: #f8f9fa;
    padding: 2rem;
    height: 100vh;
    background-color: #2f1c2c;
    border-color: rgb(200, 200, 200);
    border-style: 1px solid;
    
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}


.settings-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.settings-sidebar li {
    margin-bottom: 1rem;
}

.settings-sidebar a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    color: white;
}

.settings-content {
    width: 76%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0;
    background-color: #6a4c93;
}

.user-container,
.id-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: black;
    padding-left: 2rem; 
    background-color: white;
    padding-bottom: 10px;
    width: 100%;
    background-color: #2f1c2c;
    padding-top: 20px; 

}



.user-form,
.id-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 1rem;
    color: rgb(223, 221, 221);
    
}

.user-form label,
.id-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 2rem;

}

.user-form input,
.id-form input,
.id-form textarea {
    width: 400px;
    height: 20px;
    font-size: 16px;
    background-color: rgb(220, 218, 218);
    color: #2f1c2c;
}
.sidebar-link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    font-size: 25px;
    color: rgb(223, 221, 221);
   margin-top: 20px;
   margin-left: -15px;
   font-size: 20px;
}
.form-header {
    color: rgb(223, 221, 221);
}
.sidebar-header {
    color: rgb(223, 221, 221);
    font-size: 30px;
    margin-top: 1px;
    margin-left: -20px;
}
.page-container {
    margin-top: 40px;
    text-align: center;
  }
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .color-options {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 80px;
  }
  
  .color-option {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-color: #312c2c;
    border-radius: 50%;
    transition: border-color 0.3s ease;
  }
  
  .color-option.selected {
    border-color: #ffffff;
  }
  
  .change-theme-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .change-theme-button:hover {
    background-color: #333;
  }
  .delete-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    background-color: #2f1c2c;


  }
  
  .delete-account h2 {
    text-align: center;
    margin-bottom: 120px;
  }
  
  .delete-account button {
    margin-top: 20px;
  }
  .qa-container, .customize-container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  .settings-button {
    margin-left: 10px;
    padding: 6px 15px;
    font-size: 16px;
    color: #faf4f4;
    background-color: #6a4c93;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .settings-button:hover {
    background-color: #926dc6;
  }


  .user-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    font-size: 18px;
    
  }
  
  .user-form input[type="text"],
  .user-form input[type="email"],
  .user-form input[type="password"] {
    width: 350px;
    padding: 14px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 4px;
    color: #faf4f4;
    margin-top: 4px;
  }
  
  .user-form input[type="text"]::placeholder,
  .user-form input[type="email"]::placeholder,
  .user-form input[type="password"]::placeholder {
    color: 255, 255, 255, 0.2;
  }
  
  .user-form input[type="text"]:focus,
  .user-form input[type="email"]:focus,
  .user-form input[type="password"]:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .user-form button[type="submit"] {
    margin-top: 10px;
  }
  .id-form input[type="text"],
.id-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  color: #faf4f4;
  margin-top: 4px;
}

.id-form input[type="text"]::placeholder,
.id-form textarea::placeholder {
  color: #faf4f4;
}

.id-form input[type="text"]:focus,
.id-form textarea:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.id-form button[type="submit"] {
  margin-top: 10px;
}

