/* navbar.css */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:#2f1c2c;
  color: white;
  height: 95px;
}

.navbar-brand {
  margin-right: auto; 
  margin-left: 50px; 
  font-size: 35px;
  font-weight: bold;
}

.navbar-links-buttons {
  display: flex;  
  margin-left: auto;  
  transition: background-color 0.3s ease;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-button {
  margin-left: 10px;
  padding: 6px 15px;
  font-size: 16px;
  color: #faf4f4;
  background-color: #6a4c93;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navbar-button:hover {
  background-color: #926dc6;
}

.navbar-button:last-child {
  margin-right: 0;
  margin-right: 50px;
}
/* navbar.css */

.navbar-heading-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .navbar-heading-link {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
  }


  .navbar-links a.active-link {
    color: #3a2e2e; 
  }
  